@import '../../assets/base.css';

#container_LaddingPage > main {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

aside > img {
    width: 500px;
    height: 650px;
    border-radius: 23px;
}

#text {
    text-align: center;
    width: 650px;
    font-size: 20px;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}