@import '../../../assets/base.css';

#container_LaddingPage > main {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    overflow: none;
}

section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

aside > img {
    width: 70%;
    border-radius: 23px;
}

#text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40em;
    padding-bottom: 6em;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

#text > h3 {
    width: 32em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}