@import '../../../assets/base.css';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em clamp(3em, 7vw,10em);
    background-color: var(--main-color-white);
    box-shadow: 0px 4px 12px 4px rgba(140, 140, 140, 0.125);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#logo_icon {
    width: clamp(2.5em, 3vw, 3em);
    height: clamp(2.5em, 3vw, 3em);
}

#logo_text {
    width: clamp(10em, 15vw, 15em);
    height: clamp(1.5em, 15vw, 3.75em);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(3em, 5vw, 5em);
}

nav > a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #41A1F7;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    text-decoration-color: transparent;
}

#menu_button {
    width: 3em;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburguer {
    display: none;
    width: 3em;
    height: 3px;
    border-radius: 0px;
    border: none;
    background: none;
    border-top: 4px solid var(--main-color-blue);
    margin: 0;
}

#hamburguer::before, #hamburguer::after {
    content: '';
    display: block;
    width: 3em;
    height: 4px;
    background: var(--main-color-blue);
    margin-top: .5em;
}