#container_OrientationPage > main {
    display: flex;
    height: 90dvh;
    width: 100dvw;
    padding: 2em;
}

#container_OrientationPage > main > article, aside {
    padding: 5em;
}

main > article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

main > article > .titles {
    width: 40em;
    text-align: center;
    margin-bottom: 2em;
}

main > article > #description {
    width: 30em;
    text-align: center;
    margin-bottom: 5em;
}

main > aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

#container_OrientationPage > main > aside > img {
    height: 100%;
    width: 100%;
}

#container_OrientationPage > main > aside > #qrcode {
    display: none;
}

@keyframes opacity{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }