@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --main-color-white: #F7F6F3;
    --main-color-black: #1E1A1D;
    --main-color-blue: oklch(62.3% 0.214 259.815);
    --main-color-blue-low: #f4f4f4;
    --main-color-orange: #FFA500;
    --main-color-red: #ef233c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mona Sans', sans-serif;
    outline: none;
}

html, body {
    height: 100%; /* Faz a página ocupar toda a altura da tela */
    -webkit-font-smoothing: antialiased; /* Deixar textos mais suaves */
    background-color: var(--main-color-white);
    overflow-y: auto;
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

span {
    color: var(--main-color-blue);
}

a {
    text-decoration: none;
}

.router-link-active {
    border-bottom: 3px solid var(--main-color-orange);
}


/*Responsividade*/

/* @media (max-width: 1280px) and (max-height: 800px) {
    h1 {
        font-size: 1.50rem;
    }

    h3 {
        font-size: 1rem;
    }

    p,li {
        font-size: 0.95rem;
    }
} */

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease, transform 1s ease;
    
    
}
.fade-enter-active {
    transition-delay: 0.5s;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
    filter: blur(5px);
}