@media (max-width: 880px) and (max-height: 1280px) {
    #container_contactPage > main {
        flex-direction: column;
        overflow-y: auto;
        padding-bottom: 3em;
    }
    #container_contactPage > main > article {
        width: 100%;
        padding: 3em;
    }
    #container_contactPage > main > aside {
        width: 100%;
        padding: 1em 3em;
        margin-bottom: 3em;
    }

    #card_form {
        width: 85%;
        height: 100%;
    }

    .form_fields > input, textarea {
        height: 3.5em;
        font-size: 1rem;
    }
}

@media (max-width: 428px) and (max-height: 926px) {
    #info_top, #interactivity_button > button, #contact_button {
        width: 20em;
    }
    #card_form {
        width: 100%;
    }
    #card_form > h1 {
        width: 11em;
        font-size: 1.5rem;
    }
}