@import '../../assets/base.css';

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#container_GaleryPage {
    display: flex;
    flex-direction: column;
    width: 100vw; /* Corrigi para 100vw, pois dvw pode ser confuso */
    height: 100vh; /* Altura de 100% da tela */
    justify-content: flex-start; /* Alinha o conteúdo no início do eixo vertical */
    padding: 5em;
    overflow-y: auto;
    box-sizing: border-box; /* Inclui padding na altura total */
}

#info_top_GaleryPage {
    height: 25%;
    width: 100%;
}

#container_GaleryPage > #info_top_GaleryPage > .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_GaleryPage > #info_top_GaleryPage > .title > h1 {
    color: var(--main-color-orange);
    margin-bottom: 2em;
    font-weight: 300;
}

#container_GaleryPage > #info_top_GaleryPage > #search_field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 100%;
}

#search_field > input {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0% 23px;
    height: 2.75em;
    width: 26em;
    border-radius: 23px 0px 0px 23px;
    box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.10);
    font-size: 1rem;
    outline: none;
}

#search_field > button {
    position: relative;
    left: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.75em;
    width: 4em;
    background-color: var(--main-color-orange);
    border: none;
    border-radius: 8px 23px 23px 30px;
    outline: none;
}

#search_field > button > svg {
    height: 1.75em;
    width: 1.75em;
}

#grid_product {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3em;
    padding-top: 3em;

}

.card_product {
    width: 24em;
    height: 29em;
    border-radius: 23px;
    box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.025);
    overflow: hidden;
}

.card_product > #info_top_card > img {
    width: 25em;
    height: calc(29em/2);
    object-fit: cover;
}

#info_bottom_card > #description {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}